Question: l = ceiling(lg(n)/hashlen)

your code：
 l = (BN_num_bits(n)+255) >> 8;

I can not understand this code complement

Firstly, apologies for the delay, your email ended up in my spam folder for some reason. 
Secondly, I confess haven't looked at this code for quite a few years now.

In the code, the comment above this line (taken from Section 5.1 of RFC 6508) this says:
    /*! 3) l = ceiling(lg(n)/hashlen)                                         */ 

The divisor (hashlen) is 256, right shifting 8 effectively performs this function. 

The addition of 255, before the shift, ensures we get the right number; consider (n+255)>>8 and n>>8, where n is, say, 12.

It is a bit hacky and there may well be better ways of doing this. 

If you are looking at opensource MS stacks you may also want to take a look at securechorus.org and their code at https://bitbucket.org/securechorus/
